div.mobiletable.mobileonly {
    display: none;
}
div.mobiletable.desktoponly {
    display: block;
}
@media (max-width:__phone_width__) {
    div.mobiletable.mobileonly {
        display:block;
    }
    div.mobiletable.desktoponly {
        display: none;
    }
}
